@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Optional: smooth fonts */
body {
  @apply bg-white text-gray-800 antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}